<h2>{{data.title}}</h2>

<div class="column">
    <div class="ui inverted segment">
        <div class="ui inverted form">
            <form method='POST' action="/calendar/{{data.appointment.id}}" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" value="{{data.method}}">
                <div class="two fields">
                    <div class="field">
                        <label>UserName</label>
                        <input name="username" placeholder="Name" value="{{data.appointment.username}}">
                    </div>
                    <div class="field">
                        <label>Date</label>
                        <input type="date" name="date" placeholder="Date" value="{{data.appointment.date}}">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Time</label>
                        <input type="time" name="time" placeholder="Time" value="{{data.appointment.time}}">
                    </div>
                    <div class="field">
                        <label>Color</label>
                        <input name="color" placeholder="Color" value="{{data.appointment.color}}">
                    </div>
                </div>
                <button class="ui submit button" type="submit" name="">Make Appointment</button>
            </form>
        </div>
    </div>
</div>
