<body id="view">

<h2>CALENDAR</h2>
{{#if user.admin}}
<div class="">
    <a class="ui secondary button"href="/calendar/{{ data.appointment.id }}/edit">Edit Appointment</a>
    <a class="negative ui button"href="/calendar/{{ data.appointment.id }}/delete">Delete Appointment</a>
</div>
{{/if}}
<div class="columnview">
    <div class="ui inverted segment" >
        <div>
            <strong>Name   </strong> {{data.appointment.username}}
        </div>
        <div class="ui inverted divider"></div>
        <div>
            <strong>Date   </strong> {{data.appointment.date}}
        </div>
        <div class="ui inverted divider"></div>
        <div>
            <strong>Time   </strong> {{data.appointment.time}}
        </div>
        <div class="ui inverted divider"></div>
        <div>
            <strong>Color   </strong> {{data.appointment.color}}
        </div>
    </div>
</div>


</body>
