<h2>Products</h2>

{{#if user.admin }}
<a class="ui secondary button" href="product/create">Make Products</a>
{{/if }}

{{#each data.productList}}
    <div class="column">
        <div class="ui inverted segment" >
            <div>
                <strong>Name </strong>
                <div><a href="/product/{{id}}">{{product}}</a></div>
            </div>
            <div class="ui inverted divider"></div>
            <div>
                <strong>Price</strong>
                <div>${{price}}</div>
            </div>
            <div class="ui inverted divider"></div>
            <div>
                <strong>Description</strong>
                <div>{{description}}</div>
            </div>
            <div class="ui inverted divider"></div>
            <div>
                <strong>Image</strong>
                <img src="{{ imageUrl }}" height="100px">
            </div>
        </div>
    </div>

{{/each}}
