<h2>Product</h2>

<a class="ui secondary button"href="/product/{{ data.product.id }}/edit">Edit Product</a>
<a class="negative ui button"href="/product/{{ data.product.id }}/delete">Delete Product</a>



<div class="columnview">
    <div class="ui inverted segment" >
        <div>
            <strong>Name </strong>
            <div>
                {{data.product.product}}
            </div>
        </div>
        <div>
            <strong>Price</strong>
            <div>
                ${{data.product.price}}
            </div>
        </div>
        <div>
            <strong>Description</strong>
            <div>
                {{data.product.description}}
            </div>
        </div>
    </div>
</div>
