<h2>Product</h2>

<a class="ui secondary button"href="/product/{{ data.product.id }}/edit">Edit Product</a>
<a class="negative ui button"href="/product/{{ data.product.id }}/delete">Delete Product</a>



<div class="columnview">
    <div class="ui inverted segment" >
        <div>
            <strong>Name </strong>
            <div>
                {{data.product.product}}
            </div>
        </div>
        <div>
            <strong>Price</strong>
            <div>
                ${{data.product.price}}
            </div>
        </div>
        <div>
            <strong>Description</strong>
            <div>
                {{data.product.description}}
            </div>
        </div>
    </div>
</div>
{{#if user}}
<div class="ui inverted segment">
    <div class="ui inverted form">
        <form action="/product/{{data.product.id}}/comment" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="inline field">
                <div class="field">
                    <label>Comment</label>
                    <textarea class="form-control"name="content"></textarea>
                </div>
                <button class="ui submit button" type="submit">Add Comment</button>
            </div>
        </form>
    </div>
</div>
{{/if}}
{{#each data.product.comments}}
<div class="columnview">
    <div class="ui inverted segment" >
            <a href="/user/{{author.id}}">{{author.username}}</a>
            <p>{{content}}</p>
        </div>
    </div>
{{/each}}
